#warning-text {
  display: block;
  text-align: center;
  font-size: 50px;
}

.buttons {
  text-align: center;
  font-size: 50px;
} 

.header-image{
background-image: url("https://asoftmurmur.com/assets/bg-high-res.jpg");  
/*   background-image: url("https://img.piri.net/resim/imagecrop/2016/06/28/05/35/resized_57c24-b9464b99yildizligece.png"); */
  background-size: cover;
  position: relative;
  /* padding: 15rem 0; */
  background-position: center;
  background-size: cover;
}

.header-image::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.1;
  position: absolute;
  z-index: 0;
}

.header-image > * {
  z-index: 10;
  position: relative;
  color: white;
}

.bi {
  font-size: 5rem;

}

.bg{
  background-color: rgba(0,0,0,.3);
}

.section{
  margin-top: 7rem;
  min-height: 100vh;
}

#playButton, #playButton2, #playButton3, #playButton4{
  width: 5rem;
  height: 5rem;
  
}

