#warning-text {
  display: block;
  text-align: center;
  font-size: 50px;
}

.buttons {
  text-align: center;
  font-size: 50px;
}

.header-image{
  background-image: url("https://asoftmurmur.com/assets/bg-high-res.jpg");
  background-size: cover;
  position: relative;
  padding: 30rem 0;
  background-position: center;
  background-size: cover;
}

.header-image::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.2;
  position: absolute;
  z-index: 0;
}

.header-image > * {
  z-index: 10;
  position: relative;
  color: white;
}

#resetBtn, #increaseBtn{
  
}
